{% extends "basement.html" %}
{% load django_bootstrap5 i18n static %}

{% block content %}

    <h1 class="my-4">{% trans 'Users' %}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "User's name" %}</th>
                <th>{% trans "Full name" %}</th>
                <th>{% trans "Created at" %}</th>
                <th></th>
            </tr>
        </thead>
        {% if users %}
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.pk }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.get_full_name }}</td>
                <td>{{ user.date_joined }}</td>
                <td>
                    <a href="{% url 'users_update' user.pk %}">{% trans "Edit" %}</a>
                    <br>
                    <a href="{% url 'users_delete' user.pk %}">{% trans "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% endif %}
    </table>

{% endblock %}
