{% extends "basement.html" %}
{% load django_bootstrap5 i18n %}

{% block content %}

    <h1 class="my-4">{% trans 'Statuses' %}</h1>
    <form action="{% url 'status_create' %}">
    {% csrf_token %}
    {% trans 'Create status' as button_name %}
    {% bootstrap_button button_type='submit' content=button_name %}
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Created at" %}</th>
                <th></th>
            </tr>
        </thead>
        {% if statuses %}
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ status.pk }}</td>
                <td>{{ status.name }}</td>
                <td>{{ status.created_at }}</td>
                <td>
                    <a href="{% url 'status_update' status.pk %}">{% trans "Edit" %}</a>
                    <br>
                    <a href="{% url 'status_delete' status.pk %}">{% trans "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% endif %}
    </table>

{% endblock %}
