{% load django_bootstrap5 i18n %}
<ul class="nav nav-pills">
    <li class="nav-item"><a href="{% url 'users_index' %}" class="nav-link">{% trans 'Users' %}</a></li>
    {% with user.is_authenticated as authenticated %}
    {% if authenticated %}
    <li class="nav-item"><a href="{% url 'status_index' %}" class="nav-link">{% trans 'Statuses' %}</a></li>
    <li class="nav-item"><a href="{% url 'labels_index'%}" class="nav-link">{% trans 'Labels' %}</a></li>
    <li class="nav-item"><a href="{% url 'tasks_index' %}" class="nav-link">{% trans 'Tasks' %}</a></li>
    {% endif %}
</ul>

<div class="col-md-3 d-flex text-end ">
    {% if authenticated %}
    <form action="/logout/" method="post">
        {% csrf_token %}
        <input class="btn btn-outline-primary me-2" type="submit" value="{% trans 'Log out' %}">
    </form>
    {% else %}
    <a href="{% url 'login' %}" role="button" class="btn btn-outline-primary me-2">{% trans 'Sign in' %}</a>
    <a href="{% url 'users_create' %}" role="button" class="btn btn-primary btn-block">{% trans 'Sign up' %}</a>
    {% endif %}
</div>

{% endwith %}