{% extends 'basement.html' %}
{% load django_bootstrap5 i18n static %}

{% block content %}

<h1 class="my-4">{% trans 'Tasks' %}</h1>
<form action="{% url 'tasks_create' %}">
    {% csrf_token %}
    {% trans 'Create task' as button_name %}
    {% bootstrap_button button_type='submit' content=button_name %}
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Status' %}</th>
            <th>{% trans 'Author' %}</th>
            <th>{% trans 'Executor' %}</th>
            <th>{% trans 'Created at' %}</th>
            <th></th>
        </tr>
    </thead>
    {% if tasks %}
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.pk }}</td>
            <td><a href="{% url 'tasks_detail' task.pk %}">{{ task.name }}</a></td>
            <td>{{ task.status.name }}</td>
            <td>{{ task.author.full_name }}</td>
            <td>{{ task.executor.full_name }}</td>
            <td>{{ task.created_at }}</td>
            <td>
                <a href="{% url 'tasks_update' task.pk %}">{% trans 'Edit' %}</a>
                <br>
                <a href="{% url 'tasks_delete' task.pk %}">{% trans 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}

</table>

{% endblock %}